<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="~/Content/Images/logo1.png" /></a>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")

            </div>
        </div>
    </div>
    <div class="body-content wrapper">
        @RenderBody()
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="textc"><p>LINHA DO CLIENTE</p></div>
                </div>
                <div class="col-sm-3">
                    <div class="textc"><p>APOIO AO CLIENTE</p></div>
                </div>
                <div class="col-sm-3">
                    <div class="textc"><p>APLICAÇÕES MOVEIS</p></div>
                </div>
                <div class="col-sm-3">
                    <div class="textc"><p>SOBRE O PORTAL</p></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <i class="social fa fa-facebook"></i>
                    <i class="social fa fa-twitter"></i>
                    <i class="social fa fa-linkedin-square"></i>
                    <i class="social fa fa-google-plus"></i>
                </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-3"></div>
                <div class="direitos col-md-3">Todos os direitos reservados</div>

            </div>
        </div>
    </footer>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>